<div class="container">
		<div class="row">
			<div class="col-md-12">
				<center><h3>Select a location</h3></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			<center>
			<a href="/statusm/page">
				<img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://www.urbantree.in/blog/wp-content/uploads/2015/04/7524775466_9bc4869638_c.jpg">
				<h3>Macquarie Center</h3>
			</a>
			</center>
			</div>
			<div class="col-md-3">
			<center>
			<a href=/status/page>
				<img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://www.traveller.com.au/content/dam/images/g/u/7/z/a/q/image.gallery.articleLeadwide.620x349.gu805q.png/1486514448138.jpg">
				<h3>Ultimo</h3>
			</a>
			</center>
			</div>
		</div>
	    <!--<button onclick="speak('hello world')">Talk</button>-->
	    <!--<div id="audio"></div>-->
	    <a href="#" id="speak">Speak</a>
	</div>

<script>
		$('#speak').click(function(){
	     
	      var msg = new SpeechSynthesisUtterance('Obstacle ahead');
	      speechSynthesis.speak(msg);
	})
</script>