    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<center><h3>Macquarie Center</h3></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			<center>
				<button onclick="loadDoc()" id="dem1" class="img-circle btn btn-success" alt="140x140" style="width: 140px; height: 140px;">
				<h3>Slot 1</h3>
				<div id="demo1"></div>
			</center>
			</div>
		</div>
	</div>

 